@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.header {
  border: 3px solid #1f1f20;
  height: 80px;
  width: 100%;
  background-color: $bgColor;
  @include flex(row, flex-end, center, nowrap);
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}