@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.header{
    height: 100px;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

}