@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .iconBlock {
    height: 80px;
    width: 80px;
    background-color: $primaryColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 50px;
      height: 50px;
      color: $bgSecondColor;
    }

  }

  .skillTitle {
    position: relative;
    text-transform: capitalize;

    & h2 {
      @include text($TitleFontFamily, 30px, 2.8, 500);
      margin: 0;
      font-weight: 300;
    }
  }

  .skillDescription {
    @include text($TextFontFamily, 16px, 1.1, 200);
    letter-spacing: 1px;
  }


}





