@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins";


.freelanceBlock{
    background-color: $bgColor;
    min-height: 30vh;
    width: 100%;
    .hire{
        margin-top: 40px;
        margin-bottom: 20px;
        height: 100%;
        .hireBtn{
            background-color: $primaryColor;
            padding: 15px 50px;
            @media screen and (max-width: 450px) {
                @include text($TextFontFamily, 14px, 1.5, 400);
                padding: 5px 25px;
            }

            position: relative;
            cursor: pointer;
            text-decoration: none;
            color: white;
            @include text($TextFontFamily, 18px, 1.5, 400);
            &:hover{
                color: #1f1f20;
            }
        }

    }


}



