@import "src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";


.skillBlock{
        height: 70vh;
        background-color: $bgColor;
    @include flex(column, space-between, center, nowrap);
    .skills{
        width: 100%;
        @include flex(row, space-between, center, nowrap);
        @media screen and (max-width: 1005px) {
            @include flex(column, center, center, nowrap);
            height: 0;
        }
    }

}
