@import "src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";


.skillBlock{
        min-height: 60vh;
        background-color: $bgColor;

    @include flex(column, space-between, center, nowrap);
    .swiper{
        width: 100%;
        .mySwiper{
            width: 100%;
            .swiperSlide{
                margin-top: 50px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }

    .skills{
        width: 100%;
        margin-top: 50px;
        @include flex(row, space-between, center, nowrap);

    }

}

