.mainBlock {
    height: 100vh;
    background-color: #d5a4c2;
}


.text{
    width: 300px;
    background-color: #f7f7f7;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: #f7f7f7;
}