@import "src/common/styles/sass/variables";

@mixin text($fontFamily, $lineHeight, $fontWeight,$fontSize){
  font-family: $fontFamily;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $textColor;
}