$textColor: #fff;
/*$primaryColor: #4e93e6;*/
$primaryColor: #6598da;
$bgColor: #252527;
$bgSecondColor: #1f1f20;
$titleFontFamily : "Josefin Sans" , sans-serif;
$textFontFamily : "Poppins" , sans-serif;