@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.footerBlock{
    background-color: $bgColor;
    height: 0;
    min-height: 30vh;
}

.footer{
    width: 70%;
    display: flex;
        justify-content: center;
    & h1{
        @include text( $TitleFontFamily,36px ,1.2,300);
        letter-spacing: 2px;

    }
}

.socialNetworkPanel{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 980px) {
        width: 35%;;
    }
    @media screen and (max-width: 550px) {
        width: 55%;;
    }
}



.copyright{
    @include text( $TextFontFamily,14px,1.2,300);
    margin-top: 20px;
}

