.footerBlock{
    background-color: #e096f5;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    border: 1px solid black;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socialNetworkPanel{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.socialNetwork{
    background-color: #f7f7f7;
    height: 50px;
    width: 50px;
}
